include ../mixins/header
include ../mixins/head
include ../utils

doctype html
html
  +head("dashboard")
  include ../mixins/prefUtils

  body
    main#content
      +header(user)
      div.hero
        h1 dashboard

        if message 
          div.message.success
            p.message-title Success
            p #{message}

        if error
          div.message.danger
            p.message-title Error
            p #{error}

        h2 #{user.username} 
          if isAdmin
            | (admin) 
        
        p
          a(href=`/logout`) logout

        h3 preferences

        details.preference
          summary Sort: #{prefs.sort.replace('&t=', ' ')}
          div.pref-opts
            div
              a(href=`/dashboard` onclick=`setPref('sort', 'hot')` id=`pref_sort_hot`) hot
            div
              a(href=`/dashboard` onclick=`setPref('sort', 'best')` id=`pref_sort_best`) best
            div
              a(href=`/dashboard` onclick=`setPref('sort', 'new')` id=`pref_sort_new`) new
            div
              a(href=`/dashboard` onclick=`setPref('sort', 'rising')` id=`pref_sort_rising`) rising
            div
              a(href=`/dashboard` onclick=`setPref('sort', 'top')` id=`pref_sort_top`) top
            div
              a(href=`/dashboard` onclick=`setPref('sort', 'top&t=day')` id=`pref_sort_top_day`) top day
            div
              a(href=`/dashboard` onclick=`setPref('sort', 'top&t=week')` id=`pref_sort_top_week`) top week
            div
              a(href=`/dashboard` onclick=`setPref('sort', 'top&t=month')` id=`pref_sort_top_month`) top month
            div
              a(href=`/dashboard` onclick=`setPref('sort', 'top&t=year')` id=`pref_sort_top_year`) top year
            div
              a(href=`/dashboard` onclick=`setPref('sort', 'top&t=all')` id=`pref_sort_top_all`) top all

        details.preference
          summary View: #{prefs.view}
          div.pref-opts.view-opts
            div
              a(href=`/dashboard` onclick=`setPref('view', 'card')` id=`pref_view_card`) card
            div
              a(href=`/dashboard` onclick=`setPref('view', 'compact')` id=`pref_view_compact`) compact
        div.preference
          input(type="checkbox" id="pref_collapseAutoMod" checked=prefs.collapseAutoMod!==0 onclick=`togglePref('collapseAutoMod')`)
          label(for="pref_collapseAutoMod") Collapse Automod Comments
          div.message
              p Automaticaly collapses comments made by &nbsp;
                code u/AutoModerator
                | . 
        div.preference
          input(type="checkbox" id="pref_trackSessions" checked=prefs.trackSessions!==0 onclick=`togglePref('trackSessions')`)
          label(for="pref_trackSessions") Track Session Views
          div.message.info
            p.message-title Note
            p May increase page load times, typically by ~0.5s to ~1s.
          div.message
            p Limits duplicate posts by storing post ids already seen during the session, removing them from the feed on subsequent pages, and loading enough new posts to make up the difference.
            p A new session is started when you navigate to 
              a home
              | ,  
              a popular
              | ,  
              a all
              | , a subreddit, or a multireddit, and continues as long as you stay on the same subreddit or multireddit by clicking 
              a next ->
              | . 

        //-details.preference
          summary(style="color: var(--msg-caution);") Experimental - Proceed with caution
          div.preference-group
            div.preference
              div.message.info
                  p No experimental preferences available!

        h3 update password
          form(action='/dashboard' method='post').search-bar
            input(type="password" name="password_current" placeholder="current password" required).search-input
            input(type="password" name="password_new" placeholder="new password" required).search-input
            input(type="password" name="password_confirm" placeholder="confirm password" required).search-input
            button.search-button update

        h3 update username
          form(action='/dashboard' method='post').search-bar
            input(type="text" name="username_new" placeholder="new username" required).search-input
            button.search-button update

        if isAdmin
          h2 users

          if users
            table.dashboard-table
              tr
                th.dashboard-table-header username
                th.dashboard-table-header admin
                th.dashboard-table-header delete
              each user_row in users
                tr
                  td #{user_row.username}
                  td #{user_row.isAdmin ? 'yes' : 'no'}
                  td 
                    if user.id !== user_row.id && users.length > 1
                      a(href=`/delete-user/${user.id}`) delete
                    else
                      | current

          h2 invites

          if invites
            table.dashboard-table
              tr
                th.dashboard-table-header link
                th.dashboard-table-header created
                th.dashboard-table-header claimed
                th.dashboard-table-header delete
              each invite in invites
                tr
                  td.dashboard-link
                    a(href=`/register?token=${invite.token}`) #{invite.token} 
                  td #{timeDifference(Date.now(), invite.createdAt)} ago
                  if invite.usedAt
                    td #{timeDifference(Date.now(), invite.usedAt)} ago
                  else
                    td unclaimed
                  td
                    if invite.usedAt
                      claimed
                    else
                      a(href=`/delete-invite/${invite.id}`) delete

          a(href="/create-invite") create invite
