include ../mixins/header
include ../mixins/head
include ../utils

doctype html
html
  +head("dashboard")
  include ../mixins/prefUtils

  body
    main#content
      +header(user)
      div.hero
        h1 dashboard

        if message 
          div.dashboard-error-message
            | #{message}

        if prefs
          h2 preferences

          details.preference
            summary Sort: #{prefs.sort}
            div.pref-opts
              div
                a(href=`/dashboard` onclick=`setPref('sort', 'hot')` id=`pref_sort_hot`) hot
              div
                a(href=`/dashboard` onclick=`setPref('sort', 'best')` id=`pref_sort_best`) best
              div
                a(href=`/dashboard` onclick=`setPref('sort', 'new')` id=`pref_sort_new`) new
              div
                a(href=`/dashboard` onclick=`setPref('sort', 'rising')` id=`pref_sort_rising`) rising
              div
                a(href=`/dashboard` onclick=`setPref('sort', 'top')` id=`pref_sort_top`) top
              div
                a(href=`/dashboard` onclick=`setPref('sort', 'top&t=day')` id=`pref_sort_top_day`) top day
              div
                a(href=`/dashboard` onclick=`setPref('sort', 'top&t=week')` id=`pref_sort_top_week`) top week
              div
                a(href=`/dashboard` onclick=`setPref('sort', 'top&t=month')` id=`pref_sort_top_month`) top month
              div
                a(href=`/dashboard` onclick=`setPref('sort', 'top&t=year')` id=`pref_sort_top_year`) top year
              div
                a(href=`/dashboard` onclick=`setPref('sort', 'top&t=all')` id=`pref_sort_top_all`) top all

          details.preference
            summary View: #{prefs.view}
            div.pref-opts.view-opts
              div
                a(href=`/dashboard` onclick=`setPref('view', 'card')` id=`pref_view_card`) card
              div
                a(href=`/dashboard` onclick=`setPref('view', 'compact')` id=`pref_view_compact`) compact
          div.preference
            input(type="checkbox" id="pref_collapseAutoMod" checked=prefs.collapseAutoMod!==0 onclick=`togglePref('collapseAutoMod')`)
            label(for="pref_collapseAutoMod") Collapse Automod Comments
            div.message
                p Automaticaly collapses comments made by &nbsp;
                  code u/AutoModerator
                  | . 

          details.preference
            summary(style="color: var(--msg-warn);") Experimental - Proceed with caution
            div.preference-group
              div.preference
                input(type="checkbox" id="pref_trackSessions" checked=prefs.trackSessions!==0 onclick=`togglePref('trackSessions')`)
                label(for="pref_trackSessions") Track Session Views
                div.message.warning
                  p.message-title Warning
                  p May increase page load times significantly after extended usage
                div.message
                  p Limits duplicate posts by storing post ids already seen during the session, removing them from the feed on subsequent pages, and loading enough new posts to make up the difference. A session is started when you first click &nbsp;
                    code next ⟶
                    | &nbsp; while browsing, and ends when you navigate to 
                    code /home
                    | ,  
                    code /all
                    | , or another subreddit, multireddit, etc.

        if isAdmin
          h2 invites

          if invites
            table.invite-table
              tr
                th.invite-table-header link
                th.invite-table-header created
                th.invite-table-header claimed
                th.invite-table-header delete
              each invite in invites
                tr
                  td.invite-link
                    a(href=`/register?token=${invite.token}`) #{invite.token} 
                  td #{timeDifference(Date.now(), invite.createdAt)} ago
                  if invite.usedAt
                    td #{timeDifference(Date.now(), invite.usedAt)} ago
                  else
                    td unclaimed
                  td 
                    a(href=`/delete-invite/${invite.id}`) delete

          a(href="/create-invite") create invite
