include ../mixins/post
include ../mixins/header
include ../mixins/head
include ../utils
  - var viewQuery = query && query.view ? query.view : 'compact'
  - var sortQuery = query && query.sort ? query.sort + (query.t ? '&t=' + query.t : '') : 'hot'
doctype html
html
  +head("home")
  include ../mixins/subUtils
  include ../mixins/prefUtils

  body
    main#content
      +header(user)
      div.hero
        div.sub-title
          h1 
            if isMulti
              a(href=`/?sort=${sortQuery}&view=${viewQuery}`) lurker
            else
              a(href=`/r/${subreddit}?sort=${sortQuery}&view=${viewQuery}`)
                | r/#{subreddit}
          if !isMulti
            div#button-container
              if isSubbed
                button(onclick=`toggleSub('${subreddit}')` id=`thinger_${subreddit}`) unsubscribe
              else
                button(onclick=`toggleSub('${subreddit}')` id=`thinger_${subreddit}`) subscribe
        if about && !isMulti
          div.about #{about.public_description}
        else 
          div.about 
            | consider donating to&nbsp;
            a(href="https://donate.stripe.com/dR62bTaZH1295Da4gg") oppiliappan
            |, author of lurker
        hr
        details.sort-details
          summary.sorting sorting by #{query.sort + (query.t?' '+query.t:'')}, #{viewQuery} view
          div.sort-opts
            div
              a(href=`/r/${subreddit}?sort=hot&view=${viewQuery}` onclick=`setPref('sort', 'hot')` id=`pref_sort_hot`) hot
            div
              a(href=`/r/${subreddit}?sort=best&view=${viewQuery}` onclick=`setPref('sort', 'best')` id=`pref_sort_best`) best
            div
              a(href=`/r/${subreddit}?sort=new&view=${viewQuery}` onclick=`setPref('sort', 'new')` id=`pref_sort_new`) new
            div
              a(href=`/r/${subreddit}?sort=rising&view=${viewQuery}` onclick=`setPref('sort', 'rising')` id=`pref_sort_rising`) rising
            div
              a(href=`/r/${subreddit}?sort=top&view=${viewQuery}` onclick=`setPref('sort', 'top')` id=`pref_sort_top`) top
            div
              a(href=`/r/${subreddit}?sort=top&t=day&view=${viewQuery}` onclick=`setPref('sort', 'top&t=day')` id=`pref_sort_top_day`) top day
            div
              a(href=`/r/${subreddit}?sort=top&t=week&view=${viewQuery}` onclick=`setPref('sort', 'top&t=week')` id=`pref_sort_top_week`) top week
            div
              a(href=`/r/${subreddit}?sort=top&t=month&view=${viewQuery}` onclick=`setPref('sort', 'top&t=month')` id=`pref_sort_top_month`) top month
            div
              a(href=`/r/${subreddit}?sort=top&t=year&view=${viewQuery}` onclick=`setPref('sort', 'top&t=year')` id=`pref_sort_top_year`) top year
            div
              a(href=`/r/${subreddit}?sort=top&t=all&view=${viewQuery}` onclick=`setPref('sort', 'top&t=all')` id=`pref_sort_top_all`) top all
          div.sort-opts
            div
              a(href=`/r/${subreddit}?sort=${sortQuery}&view=compact` onclick=`setPref('view', 'compact')` id=`pref_view_compact`) compact
            div
              a(href=`/r/${subreddit}?sort=${sortQuery}&view=card` onclick=`setPref('view', 'card')` id=`pref_view_card`) card

      if posts
        each child in posts.posts
          +post(child.data, currentUrl)

        if posts.after
          div.footer
            div.footer-item
              - var newQuery = {...query, after: posts.after}
              a(href=`/r/${subreddit}?${encodeQueryParams(newQuery)}`) next ⟶
