include ../mixins/header
include ../mixins/head

doctype html
html
  +head("subscriptions")
  include ../mixins/subUtils
  body
    main#content
      +header(user)
      div.hero
        div(style="display: flex;")
          h1(style="margin: 0;") multireddits
          div#button-container
            a.button(href=`/multi-create`) create
        p
          each m in multis 
            - var multireddit = m.multireddit
            div.sub-title
              h4
                a(href=`/m/${multireddit}`) 
                  | m/#{multireddit}
              div#button-container
                a.button(href=`/multi-edit/${multireddit}`) edit
        h1 subscriptions
        p
          each s in subs 
            - var subreddit = s.subreddit
            - var isSubbed = true
            div.sub-title
              h4
                a(href=`/r/${subreddit}`) 
                  | r/#{subreddit}
              div#button-container
                if isSubbed
                  button(onclick=`toggleSub('${subreddit}')` id=`thinger_${subreddit}`) unsubscribe
                else
                  button(onclick=`toggleSub('${subreddit}')` id=`thinger_${subreddit}`) subscribe
